:root {
    --white: #efefef;
    --background: #ff090c;
    --home-background: rgba(197, 197, 197, 0.6);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
    min-height: 100vh;

    /* https://stackoverflow.com/questions/49927618/how-can-i-scale-background-image-for-mobile-using-css */
    background: no-repeat url("./pizza.jpg");
    background-size: cover;

    width: 100vw;
    background-position: center, center;
}

nav {
    background-color: var(--background);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    flex-direction: column;

    background-color: var(--home-background);
    max-width: 150px;

    padding: 20px 40px;

    border-radius: 15px;

    gap: 20px;
}

.nav-links {
    display: flex;
    align-items: center;

    gap: 40px;
    margin-top: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--background);
    color: var(--white);
}

.fa-github {
    font-size: 24px;
    color: white; /* prevent icon from going red on click */
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}